*{
    font-family: monospace;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.container{
    min-width: 100vw;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #0f30d6, #11d5d9, #10e867);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container{
    width: 30vw;
    margin: 0 auto;
    padding: 2.5rem;
    background-color: #f5f0f0;
}

header{
    text-align: center;
    font-size: 1.6em;
    padding-bottom: 1em;
}

.form-group{
    margin-top: 1rem;
}

.text-center{
    text-align: center;
}

label{
    display: block;
    text-align: left;
    font-size: 1.5em;
}

input{
    width: 100%;
    height: 40px;
    font-size: 1.2em;
    margin-bottom: 10px;
    background-color: #f5f0f0;
    border: none;
    border-bottom: 1px #484a49 solid;
    padding: 5px;
    transition: border-color 0.3s;
}

input:focus {
    border: 1px solid #484a49;
    outline: none;
    transition: border-color 0.3s;
}

.forgot-pw{
    text-decoration: none;
    color: #17171f;
    font-size: 1.2em;
    font-style: italic;
    margin-left: 4px;
    font-weight: 400;
}

.forgot-pw:hover{
    text-decoration: underline;
}

#login{
    width: 100%;
    font-size: 1.3rem;
    height: 2.2em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 1em;
    margin-bottom: 2em;
    background: linear-gradient(to bottom right, #0f30d6, #11d5d9, #10e867);
    color: #17171f;
}

#login:hover{
    filter: brightness(1.1);
}

p{
    font-weight: 400;
    font-size: 1em;
}

.social-button{
    border: none;
    cursor: pointer;
    margin: 10px 0px 0px;
    border-radius: 15px;
}

.social-button:hover{
    transform: scale(1.15);
}

.m-100{
    margin-bottom: 100px;
}

.sign-up{
    text-transform: uppercase;
    font-size: 1.2em;
    color: #17171f;
    font-weight: 800;
    letter-spacing: 0.1em;
    margin-top: 20px;
}

.sign-up:hover{
    text-decoration-line: underline;
}