*{
    font-family: monospace;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    min-height: 100vh;
    text-align: center;
}

.main-screen{
    height: 50vh;
    background-color: #17171f;
    position: relative;
}

#hasil{
    color: #f5f0f0;
    font-size: 4.4em;
    position: absolute;
    bottom: 0;
    right: 30px;
}

.num-pad{
    height: 50vh;
    background-color: #17171f;
    border-top: 5px solid #1bbbe3;
    padding-top: 8px;
}

button{
    width: 23vw;
    height: 9.5vh;
    font-size: 1.6em;
    margin: 0;
    background-color: #17171f;
    border: none;
    cursor: pointer;
    color: #f5f0f0;
}

.operator {
    color: #1bbbe3;
}